:root {
  /* --vp-c-brand-1: #10b981;
  --vp-c-brand-2: #34d399;
  --vp-c-brand-3: #10b981; */

  /* 自定义 首页 hero name 的颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);

  --vp-layout-max-width: 1640px;
}

/* 中间内容区域的宽度 */
.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}
